.env
**/__pycache__
build/
dist/
*.build/
*.dist/
*.onefile-build/
*.exe
*.bin
*.cmd

config.ini
keys.json
chat_sessions.json
*.bak
*file_processor*.json
prompts.json
tools_config.json
session_attachments
audio_output
keys.json
profiles.json

# Testing
.pytest_cache/